{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="w-full md:w-3/4 lg:w-1/2 xl:w-1/3 p-10 mx-auto border bg-green-50 border-green-900 rounded shadow my-10">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="text-2xl leading-10 text-green-900">Please sign in</h1>
        <div class="my-4 font-semibold">
            <label for="inputUsername" class="block m-4 leading-10">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="border-2 rounded shadow border-gray-700 p-2" required autofocus>
        </div>
        <div class="my-4 font-semibold">
            <label for="inputPassword" class="block px-2 leading-10">Password</label>
            <input type="password" name="password" id="inputPassword" class="border-2 rounded shadow border-gray-700 p-2" required>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="text-center mb-3">
            <label>
                <input type="checkbox" name="_remember_me">
                <label for="_remember_me" class="font-semibold text-lg mx-4">Remember me</label>
            </label>
        </div>

        <div class="w-full text-center">
            <button class="p-4 border rounded shadow bg-blue-300" type="submit">
                Sign in
            </button>
        </div>
    </form>
</div>
{% endblock %}
