{{ form_start(form) }}
    {{ form_row(form.inicio) }}
    {{ form_row(form.fin) }}
    {{ form_row(form.estado) }}


    <button type="submit" class="my-4 p-4 border rounded shadow bg-blue-300">
        {{ button_label|default('Guardar') }}
    </button>
{{ form_end(form) }}
