{% extends 'base.html.twig' %}

{% block title %}Proyecto index{% endblock %}

{% block body %}
<div class="container mx-auto my-4">
    <h1 class="text-4xl leading-10 text-green-900 font-light p-4">
        Iniciar un nuevo proyecto
    </h1>
</div>

<div class="mx-auto container">
    <table class="table w-full">
        <thead class="table-header-group">
            <tr class="table-row">
                <th class="table-cell border p-2">Id</th>
                <th class="table-cell border p-2">Titulo</th>
                <th class="table-cell border p-2">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-row-group">
        {% for proyecto in proyectos %}
            <tr class="table-row">
                <td class="table-cell border p-2">{{ proyecto.id }}</td>
                <td class="table-cell border p-2">{{ proyecto.titulo }}</td>
                <td class="table-cell border p-2">
                    <a class="text-blue-400 font-bold" href="{{ path('proyecto_show', {'id': proyecto.id}) }}">Ver</a> |
                    <a class="text-blue-400 font-bold" href="{{ path('proyecto_edit', {'id': proyecto.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="my-10">
        <a href="{{ path('proyecto_new') }}" class="my-4 p-4 border rounded shadow bg-green-300">
            Crear un nuevo proyecto
        </a>
    </div>
</div>
{% endblock %}
