{% extends 'base.html.twig' %}

{% block title %}Tareas de {{ proyecto.titulo }}{% endblock %}

{% block body %}
<div class="container mx-auto my-4">
    <h1 class="text-4xl leading-10 text-green-900 font-light p-4">
        Listado de tareas de {{ proyecto.titulo }}
    </h1>
</div>

<div class="mx-auto container">
    <table class="table w-full">
        <thead class="table-header-group">
            <tr class="table-row">
                <th class="table-cell border p-2">Titulo</th>
                <th class="table-cell border p-2">Estado</th>
                <th class="table-cell border p-2">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-row-group">
        {% for tarea in tareas %}
            <tr class="table-row">
                <td class="table-cell border p-2">
                    <a class="text-blue-400 font-bold" href="{{ path('tarea_show', {'id': tarea.id, 'proyecto': proyecto.id}) }}">
                        {{ tarea.titulo }}
                    </a>
                </td>
                <td class="table-cell border p-2">{{ tarea.estado }}</td>
                <td class="table-cell border p-2">
                    <a class="text-blue-400 font-bold" href="{{ path('tarea_edit', {'id': tarea.id, 'proyecto': proyecto.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr class='table-row'>
                <td colspan="3" class="table-cell border p-2 text-2xl font-extralight text-red-700">
                    No hay tareas para este proyecto aún
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="my-10">
        <a href="{{ path('tarea_new', {'proyecto': proyecto.id}) }}" class="my-4 p-4 border rounded shadow bg-green-300">
            Crear una nueva tarea
        </a>
    </div>
    <div class="my-10">
        <a class="my-4 p-4 border rounded shadow bg-red-300" href="{{ path('proyecto_show', {'id': proyecto.id}) }}">
            Volver al proyecto
        </a>
    </div>
</div>

{% endblock %}
