{% extends 'base.html.twig' %}

{% block title %}Etiqueta '{{ etiqueta.nombre }}'{% endblock %}

{% block body %}
<div class="container mx-auto my-4">
    <h1 class="text-4xl leading-10 text-green-900 font-light p-4">
        Etiqueta '{{ etiqueta.nombre }}'
    </h1>


    {% if etiqueta.descripcion %}
        <h2 class="text-xl leading-10 text-green-900 font-light p-4">
            Información de la etiqueta
        </h2>

        <div class="grid grid-cols-2">
            <div class="font-bold p-4 text-right">
                Descripcion
            </div>
            <div class="p-4">
                {{ etiqueta.descripcion }}
            </div>
        </div>
    {% endif %}

    {% if etiqueta.tareas is not empty %}
        <h2 class="text-xl leading-10 text-green-900 font-light p-4">
            Listado de tareas
        </h2>

        <div class="mx-auto container">
            <table class="table w-full">
                <thead class="table-header-group">
                    <tr class="table-row">
                        <th class="table-cell border p-2">Titulo</th>
                        <th class="table-cell border p-2">Proyecto</th>
                    </tr>
                </thead>
                <tbody class="table-row-group">
                {% for tarea in etiqueta.tareas %}
                    <tr class="table-row">
                        <td class="table-cell border p-2">
                            <a class="text-blue-400 font-bold" href="{{ path('tarea_show', {'id': tarea.id, 'proyecto': tarea.proyecto.id}) }}">
                                {{ tarea.titulo }}
                            </a>
                        </td>
                        <td class="table-cell border p-2">{{ tarea.proyecto }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

    {% if etiqueta.proyectos is not empty %}
        <h2 class="text-xl leading-10 text-green-900 font-light p-4">
            Listado de proyectos
        </h2>

        <div class="mx-auto container">
            <table class="table w-full">
                <thead class="table-header-group">
                    <tr class="table-row">
                        <th class="table-cell border p-2">Titulo</th>
                    </tr>
                </thead>
                <tbody class="table-row-group">
                {% for proyecto in etiqueta.proyectos %}
                    <tr class="table-row">
                        <td class="table-cell border p-2">
                            <a class="text-blue-400 font-bold" href="{{ path('proyecto_show', {'id': proyecto.id}) }}">
                                {{ proyecto.titulo }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

    <div class="grid grid-cols-1 sm:grid-cols-3 my-4">
        <div class="my-4">
            <a href="{{ path('etiqueta_edit', {'id': etiqueta.id}) }}" class="my-4 p-4 border rounded shadow bg-green-300 mx-10">
                Editar este etiqueta
            </a>
        </div>
        {{ include('etiqueta/_delete_form.html.twig') }}
    </div>
</div>

{% endblock %}
